# Zkopírujte tento soubor jako secrets.yaml a vyplňte svoje hodnoty
# cp secrets.yaml.example secrets.yaml

# WiFi přihlašovací údaje
wifi_ssid: "VaseSsid"
wifi_password: "VaseHeslo"

# API klíč pro Home Assistant
# Vygenerujte nový: openssl rand -base64 32
api_key: "VasApiKlic32ZnakuBase64Kodovani="

# OTA heslo
ota_password: "vaseOtaHeslo123"
