# Zkopírujte tento soubor jako secrets.yaml a vyplňte své hodnoty
wifi_ssid: "YOUR_WIFI_SSID"
wifi_password: "YOUR_WIFI_PASSWORD"
api_key: "GENERATE_WITH_esphome_secret_api_key"
ota_password: "YOUR_OTA_PASSWORD"
ap_password: "fallback123"
