# Secrets pro ESPHome
# Tento soubor by NEMĚL být commitnut do git!
# Je zde jako příklad - zkopírujte a přejmenujte na secrets.yaml

# WiFi přihlašovací údaje
wifi_ssid: "VaseWiFiSSID"
wifi_password: "VaseWiFiHeslo"

# API klíč pro Home Assistant
api_key: "vygenerujte-nahodny-32znakovy-klic"

# OTA heslo
ota_password: "vaseOTAheslo"
